/* General text styles */
.highlight-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
  }
  
  /* Base highlight style */
  .highlight {
    padding: 5px;
    border-radius: 25px;
    color: #000; /* Text color inside highlight */
    margin: 5px;
  }
  
  /* Specific highlight colors */
  .highlight-yellow {
    background-color: #f9da13; /* Yellow */
  }
  
  .highlight-blue {
    background-color: #a0b7ff; /* Blue */
  }
  
  .highlight-green {
    background-color: #6bd089; /* Green */
  }
  
  .highlight-pink {
    background-color: #ff85c0; /* Pink */
  }

  .highlight-gray {
    background-color: #d7dbdd; /* Pink */
  }