/* Projects container styling */
.projects-container {
    padding: 50px;
    background-color: #ebe1df; /* Light background for contrast */
    text-align: center;
  }
  
  .projects-title {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Grid to display projects */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr)); /* Responsive grid */
    gap: 20px;
    justify-content: center;
    align-items: start;
  }
  
  /* Individual project card */
  .project-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .project-card h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #131919; /* Match color theme */
    margin: 10px 0;
  }
  
  .project-card p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #555;
  }